<h1>グラフ</h1>



<div class="txt">
	<p class="txt1">月曜日</p>
	<p class="txt2">火曜日</p>
	<p class="txt3">水曜日</p>
	<p class="txt4">木曜日</p>
	<p class="txt5">金曜日</p>
	<p class="txt6">土曜日</p>
</div>

<p class="space"></p>
